*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, svg {
  display: block;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  width: 50vw;
  border: 2px solid dodgerblue;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.img {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.bgn {
  grid-column: 1 / span 1;
  grid-row: 2 / span1;
}
